In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\1\Desktop\Обучение\Пандас\практика\Космический титаник\train.csv")
df_test=pd.read_csv(r"C:\Users\1\Desktop\Обучение\Пандас\практика\Космический титаник\test.csv")
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
from sklearn.ensemble import RandomForestClassifier
y = df["Transported"]

features = ["HomePlanet", "CryoSleep", "Destination", "Age","VIP", 'RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
X = pd.get_dummies(df[features])
X_test = pd.get_dummies(df_test[features])

In [4]:
clf=RandomForestClassifier()
parametrs={'n_estimators':[200,300,400], 'max_depth':[2,5,7,10], 'min_samples_leaf': range(1,3,5), 'min_samples_split':range(2,4,6), 'random_state':[0,1,5,42]}

In [5]:
from sklearn.model_selection import GridSearchCV
gscv=GridSearchCV(clf, parametrs, cv=5)
gscv.fit(X,y)
gscv.best_params_

{'max_depth': 10,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 300,
 'random_state': 0}

In [6]:
model = RandomForestClassifier(max_depth=10, n_estimators=300, min_samples_leaf=1,
 min_samples_split=2, random_state=0)
model.fit(X, y)
predictions = model.predict(X_test)

result = pd.DataFrame({'PassengerId': df_test.PassengerId, 'Transported': predictions})
result.Transported.value_counts()

Transported
True     2267
False    2010
Name: count, dtype: int64

In [ ]:
#result.to_csv('submission4.csv', index=False)